@charset "utf-8";
/* CSS Document */

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}
/*Html5 elements for older browsers*/
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display:block;
}

fieldset, img {
    border: 0 none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
ol, ul, li {
    list-style: none outside none;
}
address, caption, cite, code, dfn, em, strong, th, var {
    font-style: normal;
    font-weight: normal;
}
sub,sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}

sub {
  top: -0.5em;
}

sup {
  bottom: -0.25em;
}
strong{ font-weight:bold;}
caption, th {
    text-align: left;
}
h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
	font-weight:normal;
}
q:before, q:after {
    content: "";
	content:none;
}
/*清除chrome,firefox的输入框外发光*/
:focus {
    outline: 0;
}
pre {
    white-space: pre;/*CSS2*/
    white-space: pre-wrap;/*CSS2.1*/
    white-space: pre-line;/*CSS3*/
    word-wrap: break-word;/*IE*/
}
.clearfix {
    display: block;
    height: 1%;
}
.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}
* html .clearfix {
    zoom: 1; /* IE6 */
}
*:first-child+html .clearfix {
    zoom: 1; /* IE7 */
}

.clear{
	clear:both;
}
.clr{ clear:both;
	width:100%;
	height:0;
	overflow:hidden;
	font-size:0;
}
body{ 
	font-size:12px; 
	font-family:Verdana, Geneva, sans-serif;
	color:#666;
	background:rgba(255,255,255,0.8);
}
a{ color:#004080; text-decoration:none;}
a:hover{ color:#dc37a8; text-decoration:underline;}

input,button,textarea,
select,optgroup,option {
    font: inherit inherit inherit inherit;
}
input,
select {
    vertical-align:middle;
}

input, select{color:#666666;font-family:simsun,arial; font-size:12px;}
textarea{color:#666666;resize:none; font-family:simsun,arial; font-size:12px;}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder{
    color:#a9a9a9;
}
input:-moz-placeholder, textarea:-moz-placeholder{
    color:#a9a9a9;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
   color:#a9a9a9;
}


.hidden {
    border: 0 !important;
    clip: rect(1px 1px 1px 1px);/*IE<8*/
    clip: rect(1px,1px,1px,1px);
    height: 1px !important;
    margin: -1px;
    overflow: hidden;
    padding: 0 !important;
    position: absolute !important;
    width: auto;
}